# ACCENTURE Virtual Internship Task 2

In [1]:
# import libraries
import pandas as pd
import numpy as np

In [2]:
# load csv files, set first column of csv to be index
Content = pd.read_csv('Content.csv', index_col = 0)
Reactions = pd.read_csv('Reactions.csv', index_col = 0)
ReactionTypes = pd.read_csv('ReactionTypes.csv', index_col = 0)

In [3]:
# check if files have been loaded properly
Content.head(2)

,Content ID,User ID,Type,Category,URL
0,97522e57-d9ab-4bd6-97bf-c24d952602d2,8d3cd87d-8a31-4935-9a4f-b319bfe05f31,photo,Studying,https://socialbuzz.cdn.com/content/storage/975...
1,9f737e0a-3cdd-4d29-9d24-753f4e3be810,beb1f34e-7870-46d6-9fc7-2e12eb83ce43,photo,healthy eating,https://socialbuzz.cdn.com/content/storage/9f7...

In [4]:
Reactions.head(2)

,Content ID,User ID,Type,Datetime
0,97522e57-d9ab-4bd6-97bf-c24d952602d2,NaN,NaN,2021-04-22 15:17:15
1,97522e57-d9ab-4bd6-97bf-c24d952602d2,5d454588-283d-459d-915d-c48a2cb4c27f,disgust,2020-11-07 09:43:50

In [5]:
ReactionTypes.head()

         Type Sentiment  Score
0       heart  positive     60
1        want  positive     70
2     disgust  negative      0
3        hate  negative      5
4  interested  positive     30

### General Guidelines for Data Cleaning:
1. Removing columns which are not relevant to this task
2. Removing rows that have values which are missing
3. Changing the data type of some values within a column

#### Goals:
The end result should be one spreadsheet which contains:
1. A cleaned dataset
2. The top 5 categories

In [6]:
# Content.csv
Content.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1000 entries, 0 to 999
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Content ID  1000 non-null   object
 1   User ID     1000 non-null   object
 2   Type        1000 non-null   object
 3   Category    1000 non-null   object
 4   URL         801 non-null    object
dtypes: object(5)
memory usage: 46.9+ KB

In [7]:
# User ID and URL -- irrelevant Columns to be Dropped
Content = Content.drop(columns = ['User ID', 'URL'])
Content.head(2)

                             Content ID   Type        Category
0  97522e57-d9ab-4bd6-97bf-c24d952602d2  photo        Studying
1  9f737e0a-3cdd-4d29-9d24-753f4e3be810  photo  healthy eating

In [8]:
# Check NaN and Empty Rows
Content.isna().sum()

Content ID    0
Type          0
Category      0
dtype: int64

In [9]:
# Check if Category Column is Clean
Content['Type'].unique()

array(['photo', 'video', 'GIF', 'audio'], dtype=object)

In [10]:
# Check if Category Column is Clean
Content['Category'].unique()

array(['Studying', 'healthy eating', 'technology', 'food', 'cooking',
       'dogs', 'soccer', 'public speaking', 'science', 'tennis', 'travel',
       'fitness', 'education', 'studying', 'veganism', 'Animals',
       'animals', 'culture', '"culture"', 'Fitness', '"studying"',
       'Veganism', '"animals"', 'Travel', '"soccer"', 'Education',
       '"dogs"', 'Technology', 'Soccer', '"tennis"', 'Culture', '"food"',
       'Food', '"technology"', 'Healthy Eating', '"cooking"', 'Science',
       '"public speaking"', '"veganism"', 'Public Speaking', '"science"'],
      dtype=object)

In [11]:
# Clean Category Column - Strip the Quotation Marks
Content['Category'] = Content['Category'].str.strip('"')

# Make First Letter all Capital
Content['Category'] = Content['Category'].str.capitalize()

In [12]:
Content.Category.head()

0          Studying
1    Healthy eating
2    Healthy eating
3        Technology
4              Food
Name: Category, dtype: object

In [13]:
# Rename Column Name for Type -- Too ambiguous
Content = Content.rename(columns = {"Type" : "Content Type"})
Content.head(2)

                             Content ID Content Type        Category
0  97522e57-d9ab-4bd6-97bf-c24d952602d2        photo        Studying
1  9f737e0a-3cdd-4d29-9d24-753f4e3be810        photo  Healthy eating

In [14]:
# Reactions.csv
Reactions.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 25553 entries, 0 to 25552
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Content ID  25553 non-null  object
 1   User ID     22534 non-null  object
 2   Type        24573 non-null  object
 3   Datetime    25553 non-null  object
dtypes: object(4)
memory usage: 998.2+ KB

In [15]:
# Drop Irrelevant Columns
Reactions = Reactions.drop(columns = ['User ID'])
Reactions.head(2)

                             Content ID     Type             Datetime
0  97522e57-d9ab-4bd6-97bf-c24d952602d2      NaN  2021-04-22 15:17:15
1  97522e57-d9ab-4bd6-97bf-c24d952602d2  disgust  2020-11-07 09:43:50

In [16]:
# Check for empty rows
Reactions.isna().sum()

Content ID      0
Type          980
Datetime        0
dtype: int64

In [17]:
# Drop all empty rows
Reactions = Reactions.dropna()
Reactions.isna().sum()

Content ID    0
Type          0
Datetime      0
dtype: int64

In [18]:
ReactionTypes.isna().sum()

Type         0
Sentiment    0
Score        0
dtype: int64

In [19]:
# Join the Datasets
df = Reactions.merge(ReactionTypes, how = 'inner', on = 'Type')
df.head()

,Content ID,Type,Datetime,Sentiment,Score
0,97522e57-d9ab-4bd6-97bf-c24d952602d2,disgust,2020-11-07 09:43:50,negative,0
1,97522e57-d9ab-4bd6-97bf-c24d952602d2,disgust,2021-01-06 19:13:01,negative,0
2,97522e57-d9ab-4bd6-97bf-c24d952602d2,disgust,2021-04-09 02:46:20,negative,0
3,9f737e0a-3cdd-4d29-9d24-753f4e3be810,disgust,2021-03-28 21:15:26,negative,0
4,230c4e4d-70c3-461d-b42c-ec09396efb3f,disgust,2020-08-04 05:40:33,negative,0

In [20]:
df = Content.merge(df, how = 'inner', on = 'Content ID')
df.head()

,Content ID,Content Type,Category,Type,Datetime,Sentiment,Score
0,97522e57-d9ab-4bd6-97bf-c24d952602d2,photo,Studying,disgust,2020-11-07 09:43:50,negative,0
1,97522e57-d9ab-4bd6-97bf-c24d952602d2,photo,Studying,disgust,2021-01-06 19:13:01,negative,0
2,97522e57-d9ab-4bd6-97bf-c24d952602d2,photo,Studying,disgust,2021-04-09 02:46:20,negative,0
3,97522e57-d9ab-4bd6-97bf-c24d952602d2,photo,Studying,dislike,2021-06-17 12:22:51,negative,10
4,97522e57-d9ab-4bd6-97bf-c24d952602d2,photo,Studying,dislike,2020-11-09 02:49:59,negative,10

In [22]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 24573 entries, 0 to 24572
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Content ID    24573 non-null  object
 1   Content Type  24573 non-null  object
 2   Category      24573 non-null  object
 3   Type          24573 non-null  object
 4   Datetime      24573 non-null  object
 5   Sentiment     24573 non-null  object
 6   Score         24573 non-null  int64
dtypes: int64(1), object(6)
memory usage: 1.5+ MB

In [23]:
df.isna().sum()

Content ID      0
Content Type    0
Category        0
Type            0
Datetime        0
Sentiment       0
Score           0
dtype: int64

In [24]:
df.to_csv('cleaned_df.csv')

In [26]:
df.head()

,Content ID,Content Type,Category,Type,Datetime,Sentiment,Score
0,97522e57-d9ab-4bd6-97bf-c24d952602d2,photo,Studying,disgust,2020-11-07 09:43:50,negative,0
1,97522e57-d9ab-4bd6-97bf-c24d952602d2,photo,Studying,disgust,2021-01-06 19:13:01,negative,0
2,97522e57-d9ab-4bd6-97bf-c24d952602d2,photo,Studying,disgust,2021-04-09 02:46:20,negative,0
3,97522e57-d9ab-4bd6-97bf-c24d952602d2,photo,Studying,dislike,2021-06-17 12:22:51,negative,10
4,97522e57-d9ab-4bd6-97bf-c24d952602d2,photo,Studying,dislike,2020-11-09 02:49:59,negative,10

In [31]:
# Top 5 Categories by Score
df.groupby('Category').agg({'Score' : 'sum'}).sort_values(by = 'Score', ascending = False).head()

                Score
Category
Animals         74965
Science         71168
Healthy eating  69339
Technology      68738
Food            66676

In [32]:
# Top 5 Categories by Counting Reaction Type
df.groupby('Category').agg({'Type' : 'count'}).sort_values(by = 'Type', ascending = False).head()

                Type
Category
Animals         1897
Science         1796
Healthy eating  1717
Food            1699
Technology      1698